{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">

    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!--        <div class="row">-->

        <div class="row  aos-init aos-animate">
            <div class="col-md-8" data-aos="fade-up">
                <div class="form-group">
                    {% include "manager/form.html" %}
                </div>
            </div>
            <div class="col-md-4 aos-init aos-animate">
                <div class="member" data-aos="fade-left">
                    <div class="member-img">
                        {% if item.photo %}
                        <img src="{{url_for('photo_profile', filename=item.photo) }}" class="img-fluid" alt="">
                        <!--                        <img src="{{url_for('static', filename='managers/vesti_1.jpg') }}" class="img-fluid"-->

                        {% else %}

                        <img src="{{url_for('static', filename='assets/img/team/portfolio.jpeg') }}" class="img-fluid"
                             alt="">
                        {% endif %}
                        <div class="social">

                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{ item.name }}</h4>
                        <!--                        <span>Chief Executive Officer</span>-->
                        {% if item.phone %}
                        <span class="icofont-mobile-phone">{{ item.phone }}</span>
                        {% endif %}
                        {% if item.birthday %}
                        <span class="icofont-birthday-cake">{{ item.birthday }}</span>
                        {% endif %}
                        {% if current_user.has_role('admin') or item.id == current_user.id %}
                        {% for document in documents %}
                            <a href="{{ url_for('document_profile', filename=document.name) }}">{{ document.name.rsplit('.', 1)[0] }}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}