{% from "_macros_form.html" import render_field_with_errors, render_field %}
{% include "_messages_form.html" %}
<form action="" method="post" enctype=multipart/form-data>
    <div class="row g-3" aos-init aos-animate>
        <div class="col" data-aos="fade-right">
            <p> {{ form.last_name.label(class='control-label') }}
                {{ form.last_name(class ="form-control") }}</p>
        </div>
        <div class="col" data-aos="fade-right">
            <p> {{ form.first_name.label(class='control-label') }}
                {{ form.first_name(class ="form-control") }}</p>
        </div>
        <div class="col" data-aos="fade-right">
            <p> {{ form.patronymic.label(class='control-label') }}
                {{ form.patronymic(class ="form-control") }}</p>
        </div>
    </div>
    <div class="row g-3" aos-init aos-animate>
        <div class="col" data-aos="fade-right">
            <p> {{ form.phone.label }}
                {{ form.phone(class ="form-control") }}
            </p>
        </div>
        <div class="col" data-aos="fade-right">
            <p> {{ form.birthday.label }}
                {{ form.birthday(type = 'date',class ="form-control") }}
            </p>
        </div>
    </div>
    <p> {{ form.address.label }}
        {{ form.address(class ="form-control") }}
    </p>

    <p> {{ form.facebook.label }}
        {{ form.facebook(class ="form-control") }}
    </p>
    <p> {{ form.instagram.label }}
        {{ form.instagram(class ="form-control") }}
    </p>
    <p> {{ form.instagram.label }}
        {{ form.instagram(class ="form-control") }}
    </p>
    <p> {{ form.photo.label }}
        {{ form.photo(class ="form-control") }}
    </p>
    <p> {{ form.document_id.label }}
        {{ form.document_id(class ="form-control") }}
    </p>

    <p>{{ form.submit(class="btn btn-primary mb-2") }}</p>
</form>