{% extends "base.html" %}


{% block content %}

<section id="team" class="team">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title" data-aos="zoom-out">
            <h2>Менеджеры</h2>
            <!--            <p>Менеджеры</p>-->
        </div>


        <div class="row aos-init aos-animate">
            {% for item in managers %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up">
                    <div class="member-img">
                        {% if item.photo %}
                        <img src="{{url_for('static', filename=item.photo) }}" class="img-fluid" alt="">
                        <!--                        <img src="{{url_for('static', filename='managers/vesti_1.jpg') }}" class="img-fluid"-->

                        {% else %}

                        <img src="{{url_for('static', filename='assets/img/team/portfolio.jpeg') }}" class="img-fluid"
                             alt="">
                        {% endif %}
                        <div class="social">
                            <!--                            <a href=""><i class="icofont-twitter"></i></a>-->
                            {% if current_user.has_role('admin') %}

                            <a href="{{ url_for('managers.edit_manager', id=item.id) }}"><i
                                    class="icofont-edit"></i></a>
                            {% endif %}
                            {% if item.event %}
                            <a href="{{ url_for('managers.get_item_manager', id=item.id) }}"><i
                                    class="icofont-eye-open"></i></a>
                            {% endif %}
                            {% if item.facebook %}
                            <a href="{{ item.facebook }}"><i class="icofont-facebook"></i></a>
                            {% endif %}
                            {% if item.instagram %}
                            <a href="{{ item.instagram }}"><i class="icofont-instagram"></i></a>
                            {% endif %}
                            {% if current_user.has_role('admin') %}
                            <a type="button" class="icofont-ui-delete" data-bs-toggle="modal"
                               data-bs-target="#staticBackdrop">
                            </a>
<!--                            <a href=""><i-->
<!--                                    class="icofont-ui-delete" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></a>-->

                            {% endif %}

                            <!--                            <a href=""><i class="icofont-linkedin"></i></a>-->
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{ item.name }}</h4>
                        <!--                        <span>Chief Executive Officer</span>-->
                        {% if item.phone %}
                        <span class="icofont-mobile-phone">{{ item.phone }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
                                       <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Удалить менджера</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Нет
                                            </button>
                                            <a href="{{ url_for('managers.delete_manager', id=item.id) }}"><button type="button" class="btn btn-primary">Да</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
            {% endfor %}

        </div>


    </div>
</section><!-- End Team Section -->

<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script>
{% endblock %}
