{% extends "base.html" %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            <div class="form-group">
                <form action="" method="post" novalidate>
                    <p> {{ form.name.label(class='control-label') }}
                        {{ form.name(class ="form-control") }}</p>
                    <p> {{ form.typeevent_id.label(class='control-label') }}
                        {{ form.typeevent_id(class ="form-control") }}</p>
                    <p> {{ form.artist_id.label }}
                        {{ form.artist_id(class ="form-control") }}</p>
                    <p> {{ form.date_event.label }}
                        {{ form.date_event(type='date', class = 'form-control') }}</p>
                    <p> {{ form.time_event.label }}
                        {{ form.time_event(type='time', class = 'form-control') }}</p>
                    <p> {{ form.description.label }}
                        {{ form.description(class ="form-control") }}</p>
                    <p> {{ form.city_id.label }}
                        {{ form.city_id(class ="form-control") }}</p>
                    <p> {{ form.arena_id.label }}
                        {{ form.arena_id(class ="form-control") }}</p>
                    <p> {{ form.user_id.label }}
                        {{ form.user_id(class ="form-control") }}</p>
                    <p>{{ form.submit(class="btn btn-primary mb-2") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="{{ url_for('static', filename='js/load_choice_arena.js') }}"></script>



{% endblock %}