{% extends "base.html" %}


{% block content %}

<section id="team" class="team">
    <div class="container aos-init aos-animate" data-aos="fade-up">
         <div class="section-title" data-aos="zoom-out">
            <h2>Площадки</h2>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('arenas.get_list_arena') }}">Все</a>
                </li>
                {% for type in typehall %}
                <li class="nav-item">
                    <a class="nav-link {% if type.id == id %}active{% endif %}" aria-current="page" href="{{ url_for('arenas.get_list_arena', id=type.id) }}">{{ type.name }}</a>
                </li>
                {% endfor %}


            </ul>
            <!--            <p>Площадки</p>-->
            <p><a href="{{ url_for('events.add_event') }}" class="card-link" data-aos="zoom-out">
                <button type="button" class="btn btn-sm btn-outline-secondary">Добавить</button>
            </a></p>

        </div>






        <div class="row justify-content-evenly aos-init aos-animate">

            {% for item in events %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{{ url_for('events.get_item_event', id=item.id) }}">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">
                            <title>{{ item.artist }}</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            {% if item.artist.photoartist %}
                            <image xlink:href="{{ url_for('static', filename=item.artist.photoartist[0]) }}" x="0" y="0"
                                   width="100%" height="100%"/>
                            {% endif %}
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ item.artist }}</text>
                        </svg>
                    </a>
                    <div class="card-body">
                        {% if item.artist %}
                        <p class="card-text">Артист - {{ item.artist }}.</p>
                        {% endif %}
                        {% if item.date_event %}
                        <p class="card-text">{{ item.date_event.strftime('%d.%m.%Y') }} в {{
                            item.time_event.strftime('%H:%M') }}.</p>
                        {% endif %}
                        {% if item.city %}
                        <p class="card-text">Город - {{ item.city }}.</p>
                        {% endif %}
                        {% if item.arena %}
                        <p class="card-text">Площадка - {{ item.arena }}.</p>
                        {% endif %}
                        {% if item.manager %}
                        <p class="card-text">Менеджер - {{ item.manager }}.</p>
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('events.get_item_event', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button>
                                </a>
                                <a href="{{ url_for('events.edit_event', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                    </button>
                                </a>
                            </div>
                            <!--                            <small class="text-muted">9 mins</small>-->
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>
</section>


{% endblock %}