{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <!--            <div class="form-group">-->
            {% from "security/_macros.html" import render_field_with_errors, render_field %}
            {% include "_messages_form.html" %}
            <form action="" method="post" novalidate>

                <p>{{ render_field_with_errors(form.name, class ="form-control") }}</p>
                <p> {{ form.description.label }}
                    {{ form.description(class ="form-control") }}
                </p>
                <p> {{ form.city_id.label }}
                    {{ form.city_id(class ="form-control") }}
                </p>
                <p> {{ form.typehall_id.label }}
                    {{ form.typehall_id(class ="form-control") }}
                </p>
                <p> {{ form.address.label }}
                    {{ form.address(class ="form-control") }}
                </p>
                <p> {{ form.phone_admin.label }}
                    {{ form.phone_admin(class ="form-control") }}
                </p>
                <p> {{ form.number_of_seats.label }}
                    {{ form.number_of_seats(class ="form-control") }}
                </p>
                <p> {{ form.hall_size.label }}
                    {{ form.hall_size(class ="form-control") }}
                </p>
                <p> {{ form.razgruzka.label }}
                    {{ form.razgruzka(class ="form-control") }}
                </p>
                <p> {{ form.sound.label }}
                    {{ form.sound(class ="form-control") }}
                </p>
                <p> {{ form.phone_sound.label }}
                    {{ form.phone_sound(class ="form-control") }}
                </p>
                <p> {{ form.light.label }}
                    {{ form.light(class ="form-control") }}
                </p>
                <p> {{ form.phone_light.label }}
                    {{ form.phone_light(class ="form-control") }}
                </p>
                <p>{{ form.submit(class="btn btn-primary mb-2") }}</p>
            </form>
            <!--            </div>-->
        </div>
    </div>
</div>

{% endblock %}