{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">

    <div class="container">
        <!--        <div class="row">-->

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    {% from "security/_macros.html" import render_field_with_errors, render_field %}
                    {% include "_messages_form.html" %}
                    <form action="" method="post" novalidate>
                        <p>{{ render_field_with_errors(form.name, class ="form-control") }}</p>
                        <p> {{ form.description.label }}
                            {{ form.description(class ="form-control") }}
                        </p>
                        <p> {{ form.city_id.label }}
                            {{ form.city_id(class ="form-control") }}
                        </p>
                        <p> {{ form.typehall_id.label }}
                            {{ form.typehall_id(class ="form-control") }}
                        </p>
                        <p> {{ form.address.label }}
                            {{ form.address(class ="form-control") }}
                        </p>
                        <p> {{ form.phone_admin.label }}
                            {{ form.phone_admin(class ="form-control") }}
                        </p>
                        <p> {{ form.number_of_seats.label }}
                            {{ form.number_of_seats(class ="form-control") }}
                        </p>
                        <p> {{ form.hall_size.label }}
                            {{ form.hall_size(class ="form-control") }}
                        </p>
                        <p> {{ form.razgruzka.label }}
                            {{ form.razgruzka(class ="form-control") }}
                        </p>
                        <p> {{ form.sound.label }}
                            {{ form.sound(class ="form-control") }}
                        </p>
                        <p> {{ form.phone_sound.label }}
                            {{ form.phone_sound(class ="form-control") }}
                        </p>
                        <p> {{ form.light.label }}
                            {{ form.light(class ="form-control") }}
                        </p>
                        <p> {{ form.phone_light.label }}
                            {{ form.phone_light(class ="form-control") }}
                        </p>
                        <p>{{ form.submit(class="btn btn-primary mb-2") }}</p>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">

                    <a href="{{ url_for('arenas.edit_arena', id=item.id) }}">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"

                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">

                            <title>{{ item.name }}</title>


                            <rect width="100%" height="100%" fill="#55595c"/>

                            <image xlink:href="{{ url_for('static', filename=item.imgarena[0]) }}" x="0" y="0"
                                   width="100%"
                                   height="100%"/>


                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ item.name }}</text>
                        </svg>
                    </a>
                    <div class="card-body">
                        <p class="card-text">Город - {{ item.city }}
                            {% if item.adres %}
                        <p class="card-text">Адрес - {{ item.adres }}.</p>
                        {% endif %}
                        </p>
                        <p class="card-text">Описание - {{ item.description }}
                        </p>
                        <p class="card-text">Описание -
                        </p>
                        <p class="card-text">Время редактирования - {{ item.edit_arena }}.</p>
                        <p class="card-text">Время Создания - {{ item.created_arena }}.</p>
                        <!--                        <p class="card-text">Время редактирования - {{ item.edit_city }}.</p>-->


                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('arenas.get_item_arena', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button>
                                </a>
                                <a href="{{ url_for('arenas.edit_arena', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                    </button>
                                </a>
                                <a href="{{ url_for('arenas.delete_arena', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Удалить
                                    </button>
                                </a>
                            </div>
                            <!--                            <small class="text-muted">9 mins</small>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}