{% extends "base.html" %}


{% block content %}

<section id="team" class="team">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title" data-aos="zoom-out">
            <h2>Площадки</h2>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('arenas.get_list_arena') }}">Все</a>
                </li>
                {% for type in typehall %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('arenas.get_list_arena', id=type.id) }}">{{ type.name }}</a>
                </li>
                {% endfor %}


            </ul>
            <!--            <p>Площадки</p>-->
            <p><a href="{{ url_for('arenas.add_arena') }}" class="card-link" data-aos="zoom-out">
                <button type="button" class="btn btn-sm btn-outline-secondary">Добавить</button>
            </a></p>

        </div>

        <div class="row justify-content-evenly aos-init aos-animate">

            {% for item in arena %}

            <div class="col-md-4">
                <div class="member" data-aos="fade-up">
                    <div class="member-img" style="height: 100%;">
                        {% if item.imgarena %}
                        <img src="{{url_for('static', filename=item.imgarena[0]) }}" class="img-fluid"
                             alt="{{ item.name }}">
                        <!--                        <img src="{{url_for('static', filename='managers/vesti_1.jpg') }}" class="img-fluid"-->

                        {% else %}

                        <img src="{{url_for('static', filename='img/hall.jpg') }}" class="img-fluid"
                             alt="">
                        {% endif %}
                        <div class="social">
                            <!--                            <a href=""><i class="icofont-twitter"></i></a>-->
                            {% if current_user.has_role('admin') %}
                            <a href="{{ url_for('arenas.edit_arena', id=item.id) }}"><i
                                    class="icofont-edit"></i></a>
                            {% endif %}
                            {% if item %}
                            <a href="{{ url_for('arenas.get_item_arena', id=item.id) }}"><i
                                    class="icofont-eye-open"></i></a>
                            {% endif %}

                            <!--                            <a href=""><i class="icofont-linkedin"></i></a>-->
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{ item.name }}</h4>
                        <h5>{{ item.city }}</h5>

                    </div>
<!--                    <small class="text-muted">9 mins</small>-->
                </div>
            </div>
            {% endfor %}
        </div>


    </div>


</section>

{% endblock %}
