{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">

                    <a href="{{ url_for('arenas.edit_arena', id=item.id) }}">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"

                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">

                            <title>{{ item.name }}</title>


                            <rect width="100%" height="100%" fill="#55595c"/>
                            {% if item.img %}
                            <image xlink:href="{{ url_for('photo_arena', filename=item.img) }}" x="0" y="0"
                                   width="100%"
                                   height="100%"/>
                            {% endif %}

                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ item.name }}</text>
                        </svg>
                    </a>
                    <div class="card-body">
                        <p class="card-text">Город - {{ item.city }}
                            {% if item.adres %}
                        <p class="card-text">Адрес - {{ item.adres }}.</p>
                        {% endif %}
                        </p>
                        <p class="card-text">Описание - {{ item.description }}
                        </p>
                        <p class="card-text">Тел. Администратора - {{ item.phone_admin }}
                        </p>
                        <p class="card-text">Количество мест - {{ item.number_of_seats }}
                        </p>

                        {% if item.hall_size %}
                        <p class="card-text">Размер площадки - {{ item.hall_size }}
                        </p>

                        {% endif %}
                        {% if item.razgruzka %}
                        <p class="card-text">Разгрузка - {{ item.razgruzka }}
                        </p>
                        {% endif %}
                        {% if item.sound %}
                        <p class="card-text">Местный звук - {{ item.sound }}
                        </p>
                        {% endif %}
                        {% if item.phone_sound %}
                        <p class="card-text">Тел. звукорежиссера - {{ item.phone_sound }}
                        </p>
                        {% endif %}
                        {% if item.light %}
                        <p class="card-text">Местный свет - {{ item.light }}
                        </p>
                        {% endif %}
                        {% if item.phone_light %}
                        <p class="card-text">Тел. световика - {{ item.phone_light }}
                        </p>
                        {% endif %}
                        <p class="card-text">Время редактирования - {{ item.edit_arena }}.</p>
                        <p class="card-text">Время Создания - {{ item.created_arena }}.</p>
                        <!--                        <p class="card-text">Время редактирования - {{ item.edit_city }}.</p>-->


                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('arenas.add_arena', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button>
                                </a>
                                <a href="{{ url_for('arenas.edit_arena', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                    </button>
                                </a>
                                <a href="{{ url_for('arenas.delete_arena', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Удалить
                                    </button>
                                </a>
                            </div>
                            <!--                            <small class="text-muted">9 mins</small>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}