{% extends "base/base.html" %}
{% block title %}
<title xmlns="http://www.w3.org/1999/html">TM+ | {{arena.name}}</title>

{% endblock %}
{% block head_style %}
<link href="{{ url_for('inspina', filename='css/plugins/cropper/cropper.min.css')}}" rel="stylesheet">
<link href="{{ url_for('inspina', filename='css/plugins/blueimp/css/blueimp-gallery.min.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="{{ url_for('arenas.edit', id=arena.id)}}"
                                   class="btn btn-white btn-xs float-right">Изменить</a>
                                <h2>{{arena.name}} {% if arena.alias %} ({{ arena.alias }}) {% endif %}</h2>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Тип площаки:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><a href="{{ url_for('arenas.index', id=arena.typehall.id) }}">
                                        <span class="label label-primary">{{arena.typehall}}</span></a></dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Телефон:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">{{arena.phone_admin}}</dd>
                                </div>
                            </dl>
                            {% if arena.city %}
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Регион:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><a
                                            href="{{ url_for('arenas.index', region=arena.city.region.id)}}">{{arena.city.region.name}}</a>
                                    </dd>
                                </div>
                            </dl>

                            {% endif %}
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Город:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><a href="{{ url_for('arenas.index', city=arena.city.id)}}">{{arena.city}}</a>
                                    </dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Адрес:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">{{arena.address}}</dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Количество мест:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"> {{arena.number_of_seats}}</dd>
                                </div>
                            </dl>
                            {% if arena.email %}
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>email:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><a href="mailto:{{arena.email}}">{{arena.email }}</a></dd>
                                </div>
                            </dl>
                            {% endif %}
                            <!--                            <dl class="row mb-0">-->
                            <!--                                <div class="col-sm-4 text-sm-right">-->
                            <!--                                    <dt>Version:</dt>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-sm-8 text-sm-left">-->
                            <!--                                    <dd class="mb-1"> v1.4.2</dd>-->
                            <!--                                </div>-->
                            <!--                            </dl>-->
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Сайт:</dt>
                                </div>
                                {% if arena.url %}
                                <div class="col-sm-4 text-sm-left">
                                    <dd class="mb-1"><a href="{{ arena.url }}" target="_blank" class="text-navy"> {{
                                        arena.name }}</a></dd>
                                </div>
                                {% endif %}
                            </dl>

                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Послденее обновление:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">{{arena.edit_arena }}</dd>
                                </div>
                            </dl>

                        </div>

                        <dl class="col-lg team">
                            <dl class="row mb-0">
                                <div class="col-sm-6 text-sm-right">
                                    <!--                                <div class="ibox-content no-padding border-left-right">-->
                                    <div class="member">
                                        <div class="member-img">
                                            {% if arena.img %}
                                            <img alt="image" class="img-fluid"
                                                 src="{{url_for('img_arena', img=arena.img)}}">
                                            {% else %}
                                            <img alt="image" class="img-fluid"
                                                 src="{{url_for('inspina', filename='img/arena-default.png')}}">
                                            {% endif %}
                                            <!--                                </div>-->

                                            <div class="social">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#myModal5">
                                                    <i
                                                            class="icofont-edit"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dl>
                    </div>
                    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title">Загрузите фотографию</h4>
                                    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry.</small>
                                </div>
                                <form method="POST" action="" enctype=multipart/form-data>
                                    <div class="modal-body">


                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="image-crop">
                                                    {% if arena.img %}
                                                    <img src="{{url_for('img_arena', img=arena.img) }}">
                                                    {% else %}
                                                    <img src="{{url_for('inspina', filename='img/arena-default.png') }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <h4>Preview image</h4>
                                                <div class="img-preview img-preview-sm">
                                                </div>
                                                <h4>Comon method</h4>
                                                <p>
                                                    You can upload new image to crop container and easy download new
                                                    cropped
                                                    image.
                                                </p>
                                                <div class="btn-group">
                                                    <label title="Upload image file" for="inputImage"
                                                           class="btn btn-primary">
                                                        <input type="file" name="file" id="inputImage"
                                                               class="hide">
                                                        Upload new image
                                                    </label>
                                                    <label title="Donload image" id="download"
                                                           class="btn btn-primary">Download</label>
                                                </div>
                                                <h4>Other method</h4>
                                                <p>
                                                    You may set cropper options with
                                                    <code>$(image}).cropper(options)</code>
                                                </p>
                                                <div class="btn-group">
                                                    <button class="btn btn-white" id="zoomIn" type="button">Zoom In
                                                    </button>
                                                    <button class="btn btn-white" id="zoomOut" type="button">Zoom Out
                                                    </button>
                                                    <button class="btn btn-white" id="rotateLeft" type="button">Rotate
                                                        Left
                                                    </button>
                                                    <button class="btn btn-white" id="rotateRight" type="button">Rotate
                                                        Right
                                                    </button>
                                                    <button class="btn btn-warning" id="setDrag" type="button">New crop
                                                    </button>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Отмена</button>
                                        <button type="submit" class="btn btn-primary">Сохранить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if arena.url %}
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                    {% endif %}
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" href="#tab-1"
                                                   data-toggle="tab">Информация</a></li>
                                            <li><a class="nav-link" href="#tab-2" data-toggle="tab">Что то еще</a>
                                            <li><a class="nav-link" href="#tab-3" data-toggle="tab">Галерея</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <div class="feed-activity-list">
                                                <div class="feed-element">
                                                    <a href="#" class="float-left">
                                                        <img alt="image" class="rounded-circle" src="img/a2.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">2h ago</small>
                                                        <strong>Mark Johnson</strong> posted message on <strong>Monica
                                                        Smith</strong> site. <br>
                                                        <small class="text-muted">Today 2:10 pm - 12.06.2014</small>
                                                        <div class="well">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s.
                                                            Over the years, sometimes by accident, sometimes on purpose
                                                            (injected humour and the like).
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a href="#" class="float-left">
                                                        <img alt="image" class="rounded-circle" src="img/a3.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">2h ago</small>
                                                        <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica
                                                        Smith</strong>. <br>
                                                        <small class="text-muted">2 days ago at 8:30am</small>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a href="#" class="float-left">
                                                        <img alt="image" class="rounded-circle" src="img/a4.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right text-navy">5h ago</small>
                                                        <strong>Chris Johnatan Overtunk</strong> started following
                                                        <strong>Monica Smith</strong>. <br>
                                                        <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                                        <div class="actions">
                                                            <a href="" class="btn btn-xs btn-white"><i
                                                                    class="fa fa-thumbs-up"></i> Like </a>
                                                            <a href="" class="btn btn-xs btn-white"><i
                                                                    class="fa fa-heart"></i> Love</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a href="#" class="float-left">
                                                        <img alt="image" class="rounded-circle" src="img/a5.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">2h ago</small>
                                                        <strong>Kim Smith</strong> posted message on <strong>Monica
                                                        Smith</strong> site. <br>
                                                        <small class="text-muted">Yesterday 5:20 pm - 12.06.2014</small>
                                                        <div class="well">
                                                            Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s.
                                                            Over the years, sometimes by accident, sometimes on purpose
                                                            (injected humour and the like).
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a href="#" class="float-left">
                                                        <img alt="image" class="rounded-circle" src="img/profile.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">23h ago</small>
                                                        <strong>Monica Smith</strong> love <strong>Kim Smith</strong>.
                                                        <br>
                                                        <small class="text-muted">2 days ago at 2:30 am -
                                                            11.06.2014</small>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a href="#" class="float-left">
                                                        <img alt="image" class="rounded-circle" src="img/a7.jpg">
                                                    </a>
                                                    <div class="media-body ">
                                                        <small class="float-right">46h ago</small>
                                                        <strong>Mike Loreipsum</strong> started following <strong>Monica
                                                        Smith</strong>. <br>
                                                        <small class="text-muted">3 days ago at 7:58 pm -
                                                            10.06.2014</small>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="tab-2">

                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Status</th>
                                                    <th>Title</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>Comments</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                            <span class="label label-primary"><i
                                                    class="fa fa-check"></i> Completed</span>
                                                    </td>
                                                    <td>
                                                        Create project in webapp
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            Lorem Ipsum is that it has a more-or-less normal
                                                            distribution of letters, as opposed to using 'Content here,
                                                            content here', making it look like readable.
                                                        </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Accepted</span>
                                                    </td>
                                                    <td>
                                                        Various versions
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            Various versions have evolved over the years, sometimes by
                                                            accident, sometimes on purpose (injected humour and the
                                                            like).
                                                        </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                    <span class="label label-primary"><i
                                                            class="fa fa-check"></i> Sent</span>
                                                    </td>
                                                    <td>
                                                        There are many variations
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            There are many variations of passages of Lorem Ipsum
                                                            available, but the majority have suffered alteration in some
                                                            form, by injected humour, or randomised words which
                                                        </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Reported</span>
                                                    </td>
                                                    <td>
                                                        Latin words
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            Latin words, combined with a handful of model sentence
                                                            structures
                                                        </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Accepted</span>
                                                    </td>
                                                    <td>
                                                        The generated Lorem
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            The generated Lorem Ipsum is therefore always free from
                                                            repetition, injected humour, or non-characteristic words
                                                            etc.
                                                        </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                    <span class="label label-primary"><i
                                                            class="fa fa-check"></i> Sent</span>
                                                    </td>
                                                    <td>
                                                        The first line
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                                                            amet..", comes from a line in section 1.10.32.
                                                        </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Reported</span>
                                                    </td>
                                                    <td>
                                                        The standard chunk
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            The standard chunk of Lorem Ipsum used since the 1500s is
                                                            reproduced below for those interested.
                                                        </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                            <span class="label label-primary"><i
                                                    class="fa fa-check"></i> Completed</span>
                                                    </td>
                                                    <td>
                                                        Lorem Ipsum is that
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            Lorem Ipsum is that it has a more-or-less normal
                                                            distribution of letters, as opposed to using 'Content here,
                                                            content here', making it look like readable.
                                                        </p>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                    <span class="label label-primary"><i
                                                            class="fa fa-check"></i> Sent</span>
                                                    </td>
                                                    <td>
                                                        Contrary to popular
                                                    </td>
                                                    <td>
                                                        12.07.2014 10:10:1
                                                    </td>
                                                    <td>
                                                        14.07.2014 10:16:36
                                                    </td>
                                                    <td>
                                                        <p class="small">
                                                            Contrary to popular belief, Lorem Ipsum is not simply random
                                                            text. It has roots in a piece of classical
                                                        </p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="tab-3">
                                            <div class="lightBoxGallery">
                                                <a href="{{ url_for('inspina', filename='img/gallery/1.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/1s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/2.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/2s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/3.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/3s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/4.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/4s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/5.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/5s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/6.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/6s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/7.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/7s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/8.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/8s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/9.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/9s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/10.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/10s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/12.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/12s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/4.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/4s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/5.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/5s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/6.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/6s.jpg')}}"></a>
                                                <a href="{{ url_for('inspina', filename='img/gallery/7.jpg')}}"
                                                   title="Image from Unsplash" data-gallery=""><img
                                                        src="{{ url_for('inspina', filename='img/gallery/7s.jpg')}}"></a>

                                                <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                                <div id="blueimp-gallery" class="blueimp-gallery">
                                                    <div class="slides"></div>
                                                    <h3 class="title"></h3>
                                                    <a class="prev">‹</a>
                                                    <a class="next">›</a>
                                                    <a class="close">×</a>
                                                    <a class="play-pause"></a>
                                                    <ol class="indicator"></ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script src="{{ url_for('inspina', filename='js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>

<!-- Image cropper -->
<script src="{{ url_for('inspina', filename='js/plugins/cropper/cropper.min.js') }}"></script>
<script>
        $(document).ready(function(){
            var $image = $(".image-crop > img")
            $($image).cropper({
                aspectRatio: 1 / 1,
                preview: ".img-preview",
                done: function(data) {
                    // Output the result data for cropping image.
                }
            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function() {
                    var fileReader = new FileReader(),
                            files = this.files,
                            file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

            $("#download").click(function() {
                window.open($image.cropper("getDataURL"));
            });

            $("#zoomIn").click(function() {
                $image.cropper("zoom", 0.1);
            });

            $("#zoomOut").click(function() {
                $image.cropper("zoom", -0.1);
            });

            $("#rotateLeft").click(function() {
                $image.cropper("rotate", 45);
            });

            $("#rotateRight").click(function() {
                $image.cropper("rotate", -45);
            });

            $("#setDrag").click(function() {
                $image.cropper("setDragMode", "crop");
            });


            cropper.getCroppedCanvas();

cropper.getCroppedCanvas({
  width: 160,
  height: 90,
  minWidth: 256,
  minHeight: 256,
  maxWidth: 4096,
  maxHeight: 4096,
  fillColor: '#fff',
  imageSmoothingEnabled: false,
  imageSmoothingQuality: 'high',
});

// Upload cropped image to server if the browser supports `HTMLCanvasElement.toBlob`.
// The default value for the second parameter of `toBlob` is 'image/png', change it if necessary.
cropper.getCroppedCanvas().toBlob((blob) => {
  const formData = new FormData();

  // Pass the image file name as the third parameter if necessary.
  formData.append('croppedImage', blob/*, 'example.png' */);

  // Use `jQuery.ajax` method for example
  $.ajax('/path/to/upload', {
    method: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success() {
      console.log('Upload success');
    },
    error() {
      console.log('Upload error');
    },
  });
}/*, 'image/png' */);



        });

</script>
{% endblock %}