{% extends "base/base.html" %}
{% block title %}
<title>Площадки | TM+</title>

{% endblock %}


{% block head_style %}
<link href="{{ url_for('inspina', filename='css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')}}"
      rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-12 animated fadeInUp">
        <div class="ibox">
            <div class="ibox-title">
                {% if citys %}
                <h5>Площадки в городе {{ citys }}</h5>
                {% else %}
                <h5>Площадки</h5>
                {% endif %}
                <div class="ibox-tools">
                    <a href="{{ url_for('arenas.add') }}" class="btn btn-primary btn-xs">Добавить</a>
                </div>
                <div class="col-md-12">

                    <form method="GET">
                        <div class="input-group">
                            <input name="q" type="text" placeholder="Поиск по городу или названию"
                                   class="form-control-sm form-control" value="{{ request.args.get('q','') }}">
                            <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>

                        </div>
                    </form>
                </div>
                <div class="col-md-12">

                    <div class="ibox-content">
                        {% for type in typehall %}
                        <span class="input-group-btn">
                                    <a href="{{ url_for('arenas.index', type=type.id)}}"><button type="submit"
                                                                                                 class="btn btn-sm btn-primary"> {{type.name}}</button></a>
                                </span>

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ibox-content">

                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                    <thead>
                    <tr>

                        <th data-toggle="true">Название</th>
                        <th data-hide="phone">Город</th>
                        <th data-hide="all">Описание</th>
                        <!--                        <th data-hide="phone">Количество мест</th>-->
                        <!--                        <th data-hide="phone,tablet">Quantity</th>-->
                        <!--                        <th data-hide="phone">Status</th>-->
                        <th class="text-right" data-sort-ignore="true">Action</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for i in arena %}
                    <tr>
                        <td class="project-title">
                            <a href="{{url_for('arenas.arena_detail', id=i.id)}}">{{ i.name }} {% if i.alias %}
                                ({{i.alias}}){%endif%}</a>
                            <br/>
                            {% if i.typehall %}
                            <a href="{{ url_for('arenas.index', type=i.typehall.id) }}"><small>{{ i.typehall
                                }}</small></a>
                            {% endif %}
                        </td>
                        <td class="project-completion">
                            {% if i.city %}
                            <a href="{{ url_for('arenas.index',  q=i.city) }}"> <small>{{i.city}}</small></a>
                            {% endif %}
                        </td>
                        <td>
                            {{ i.description }}
                        </td>
                        <!--                        <td>-->
                        <!--                            {{ i.number_of_seats }}-->
                        <!--                        </td>-->
                        <!--                        <td>-->
                        <!--                            1000-->
                        <!--                        </td>-->
                        <!--                        <td>-->
                        <!--                            <span class="label label-primary">Enable</span>-->
                        <!--                        </td>-->
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="{{url_for('arenas.arena_detail', id=i.id)}}">
                                    <button class="btn-white btn btn-xs"> Посмотреть</button>
                                </a>
                                <a href="{{ url_for('arenas.edit', id=i.id) }}">
                                    <button class="btn-white btn btn-xs">Редактировать</button>
                                </a>

                            </div>
                        </td>
                    </tr>
                    {% endfor %}


                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="pagination float-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- Mainly scripts -->
{% block script %}
<!-- FooTable -->
<script src="{{ url_for('inspina', filename='js/plugins/footable/footable.all.min.js')}}"></script>

<!-- Page-Level Scripts -->
<script>
        $(document).ready(function() {

            $('.footable').footable();

        });



</script>
{% endblock %}