{% extends "base/base.html" %}
{% block title %}
<title>Площадки | TM+</title>

{% endblock %}


{% block head_style %}
<link href="{{ url_for('inspina', filename='css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')}}"
      rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}


{% block content %}


<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">

                <div class="ibox-title">
                    {% if citys %}
                    <h5>Площадки в городе {{ citys }}</h5>
                    {% else %}
                    <h5>Площадки</h5>
                    {% endif %}
                    <div class="ibox-tools">
                        <a href="{{ url_for('arenas.add') }}" class="btn btn-primary btn-xs">Добавить</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <!--                        <div class="col-md-1">-->
                        <!--                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i-->
                        <!--                                    class="fa fa-refresh"></i> Refresh-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <div class="col-md-12">

                            <form method="GET">
                                <div class="input-group">
                                    <input name="q" type="text" placeholder="Поиск по городу или названию"
                                           class="form-control-sm form-control" value="{{ request.args.get('q','') }}">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                                    </span>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row m-b-sm m-t-sm">
                        <!--                        <div class="col-md-1">-->
                        <!--                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i-->
                        <!--                                    class="fa fa-refresh"></i> Refresh-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <div class="col-md-12">

                            <div class="">
                                {% for type in typehall %}
                                <span class="input-group-btn">
                                    <a href="{{ url_for('arenas.index', type=type.id)}}"><button type="submit" class="btn btn-sm btn-primary"> {{type.name}}</button></a>
                                </span>

                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                            {% for i in arena %}
                            <tr>
                                <td class="project-title">
                                    <a href="{{url_for('arenas.arena_detail', id=i.id)}}">{{ i.name }} {% if i.alias %}
                                        ({{i.alias}}){%endif%}</a>
                                    <br/>
                                    {% if i.typehall %}
                                    <a href="{{ url_for('arenas.index', type=i.typehall.id) }}"><small>{{ i.typehall }}</small></a>
                                    {% endif %}
                                </td>
                                <td class="project-completion">
                                    <a href="{{ url_for('arenas.index',  q=i.city) }}"> <small>{{i.city}}</small></a>
<!--                                    <div class="progress progress-mini">-->
<!--                                        <div style="width: 48%;." class="progress-bar"></div>-->
<!--                                    </div>-->
                                </td>
                                <!--                                        <td class="project-people">-->
                                <!--                                            <a href=""><img alt="image" class="rounded-circle" src="{{ url_for('inspina', filename='img/a3.jpg')}}"></a>-->
                                <!--                                            <a href=""><img alt="image" class="rounded-circle" src="{{ url_for('inspina', filename='img/a1.jpg')}}"></a>-->
                                <!--                                            <a href=""><img alt="image" class="rounded-circle" src="{{ url_for('inspina', filename='img/a2.jpg')}}"></a>-->
                                <!--                                            <a href=""><img alt="image" class="rounded-circle" src="{{ url_for('inspina', filename='img/a4.jpg')}}"></a>-->
                                <!--                                            <a href=""><img alt="image" class="rounded-circle" src="{{ url_for('inspina', filename='img/a5.jpg')}}"></a>-->
                                <!--                                        </td>-->
                                <td class="project-actions">
                                    <a href="{{url_for('arenas.arena_detail', id=i.id)}}"
                                       class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Посмотреть
                                    </a>
                                    <a href="{{ url_for('arenas.edit', id=i.id) }}" class="btn btn-white btn-sm"><i
                                            class="fa fa-pencil"></i> Редактировать
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- Mainly scripts -->
{% block script %}
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
{% endblock %}