{% extends "base/base.html" %}
{% block title %}
<title>TM+ | {% if artist.last_name %} {{ artist.first_name}} {{ artist.last_name }}
    {% if artist.alias %} ({{ artist.alias }}){% endif %}
    {% else %}
    {{ artist.alias }}
    {% endif %}</title>
{% endblock %}
{% block content %}


<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Артист</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        {% if artist.img %}
                        <img alt="image" class="img-fluid"
                             src="{{ url_for('photo_artist', filename=artist.img)}}">
                        {% else %}
                        <img alt="image" class="img-fluid"
                             src="{{ url_for('photo_profile', filename='profile-default.jpeg')}}">
                        {% endif %}
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>{% if artist.last_name %} {{ artist.first_name}} {{ artist.last_name }}
                            {% if artist.alias %} ({{ artist.alias }}){% endif %}
                            {% else %}
                            {{ artist.alias }}
                            {% endif %}
                        </strong></h4>
                        <p></p>
                        <h5>
                            Немного о артисте
                        </h5>
                        <p>
                            {{ artist.description }}
                        </p>
                        <div class="row m-t-lg">
                            <div class="col-md-4">
                                <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                <h5><strong>{{events_artist}}</strong> Events</h5>
                            </div>
<!--                            <div class="col-md-4">-->
<!--                                <span class="line">5,3,9,6,5,9,7,3,5,2</span>-->
<!--                                <h5><strong>28</strong> Following</h5>-->
<!--                            </div>-->
<!--                            <div class="col-md-4">-->
<!--                                <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>-->
<!--                                <h5><strong>240</strong> Followers</h5>-->
<!--                            </div>-->
                        </div>
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                            class="fa fa-envelope"></i> Send Message
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i
                                            class="fa fa-coffee"></i> Buy a coffee
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Сотрудники</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="widget lazur-bg p-xl">

                                <h2>
                                    {{ artist.administrator }}
                                </h2>
                                <p>
                                    АДМИНИСТРАТОР
                                </p>
                                <ul class="list-unstyled m-t-md">
                                    <li>
                                        <span class="fa fa-envelope m-r-xs"></span>
                                        <label>Email:</label>
                                        {{ artist.email_admin }}
                                    </li>
                                    <li>
                                        <span class="fa fa-phone m-r-xs"></span>
                                        <label>Contact:</label>
                                        {{ artist.phone_administrator }}
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="widget lazur-bg p-xl">

                                <h2>
                                    {{artist.sound_engineer}}
                                </h2>
                                <p>
                                    FOH
                                </p>
                                <ul class="list-unstyled m-t-md">
                                    <li>
                                        <span class="fa fa-envelope m-r-xs"></span>
                                        <label>Email:</label>
                                        {{ artist.email_sound }}
                                    </li>
                                    <li>
                                        <span class="fa fa-phone m-r-xs"></span>
                                        <label>Contact:</label>
                                        {{artist.phone_sound}}
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="widget lazur-bg p-xl">

                                <h2>
                                    {{ artist.monitor_engineer }}
                                </h2>
                                <p>
                                    MON
                                </p>
                                <ul class="list-unstyled m-t-md">
                                    <li>
                                        <span class="fa fa-envelope m-r-xs"></span>
                                        <label>Email:</label>
                                        {{ artist.email_monitor }}
                                    </li>
                                    <li>
                                        <span class="fa fa-phone m-r-xs"></span>
                                        <label>Contact:</label>
                                        {{ artist.phone_monitor }}
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="widget lazur-bg p-xl">

                                <h2>
                                    {{artist.light}}
                                </h2>
                                <p>
                                    LIGHT
                                </p>
                                <ul class="list-unstyled m-t-md">
                                    <li>
                                        <span class="fa fa-envelope m-r-xs"></span>
                                        <label>Email:</label>
                                        {{ artist.email_light }}
                                    </li>
                                    <li>
                                        <span class="fa fa-phone m-r-xs"></span>
                                        <label>Contact:</label>
                                        {{artist.phone_light}}
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
{% block script %}
<!-- Mainly scripts -->
<script src="{{ url_for('inspina', filename='js/jquery-3.1.1.min.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/popper.min.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/bootstrap.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ url_for('inspina', filename='js/inspinia.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/plugins/pace/pace.min.js')}}"></script>

<!-- Peity -->
<script src="{{ url_for('inspina', filename='js/plugins/peity/jquery.peity.min.js')}}"></script>

<!-- Peity -->
<script src="{{ url_for('inspina', filename='js/demo/peity-demo.js')}}"></script>

{% endblock %}
