{% extends "base/base.html" %}
{% block title %}
<title>Артисты | TM+</title>

{% endblock %}


{% block head_style %}
<link href="{{ url_for('inspina', filename='css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')}}"
      rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}


{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <!--    <div class="ibox-content">-->
    <div class="row m-b-sm m-t-sm">
        <div class="col-md-1">
            <a href="{{ url_for('artists.add') }}">
                <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i
                        class="fa  fa-plus"></i> Добавить
                </button>
            </a>
        </div>
        <div class="col-md-11">
            <div class="input-group"><input type="text" placeholder="Search" class="form-control-sm form-control">
                <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
        </div>
    </div>
    <!--    </div>-->
    <div class="row">
        {% for artist in artists %}
        <div class="col-lg-4">
            <div class="contact-box">
                <a class="row" href="{{ url_for('artists.artist_profile', id=artist.id)}}">
                    <div class="col-4">
                        <div class="text-center">
                            {% if artist.img %}
                            <img alt="image" class="m-t-xs img-fluid"
                                 src="{{ url_for('photo_artist', filename=artist.img) }}">
                            {% else %}
                            <img alt="image" class="m-t-xs img-fluid"
                                 src="{{ url_for('photo_profile', filename='profile-default.jpeg') }}">
                            {% endif %}
                            <div class="m-t-xs font-bold"></div>
                        </div>
                    </div>
                    <div class="col-8">
                        <h3><strong>{% if artist.last_name %}{{ artist.first_name }} {{ artist.last_name }}
                            {% if artist.alias %} ({{ artist.alias }}) {% endif %}
                            {% else %}
                            {{ artist.alias }}
                            {% endif %}
                        </strong></h3>
                        <p>
                            <!--                            <i class="fa fa-map-marker"></i>-->
                            {% if artist.administrator %}Администратор: <strong>{{ artist.administrator }}</strong>{%
                            endif %}<br>
                        </p>
                        <address>
                            {% if artist.sound_engineer %}FOH: <strong>{{ artist.sound_engineer }}</strong>{% endif
                            %}<br>
                            {% if artist.monitor_engineer %} MON: <strong>{{ artist.monitor_engineer }}</strong>{% endif
                            %}<br>
                            {% if artist.light %}light: <strong>{{ artist.light }}</strong>{% endif %}<br>
                        </address>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

