<!doctype html>
<html lang="ru">
<head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/png">

    {% include "style.html" %}

    <!--    {% import 'admin/static.html' as admin_static with context %}-->
</head>
<body data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0">
{% block menu %}
{% include "menu.html" %}
{% endblock %}
<main role="main" data-aos="fade-in" class="aos-init aos-animate">
    {% block content %}

    {% endblock %}
</main>
{% include "footer.html" %}

{% include "script_load.html" %}
</body>
</html>