{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">Имя:</li>
                <li class="list-group-item">Город:</li>
                <li class="list-group-item">Менеджер:</li>
                <li class="list-group-item">Артист:</li>
                <li class="list-group-item">Описание:</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">{{ event.name }}</li>
                <li class="list-group-item">
                    {% for d in event.citys %}
                    {{ d }}

                    {% endfor %}
                </li>
                {% if  event.managers %}
                <li class="list-group-item">
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                       aria-expanded="false" aria-controls="multiCollapseExample1">
                        {{ event.managers }}</a>
                    <div class="row">
                        <!--                        <div class="col">-->
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                                {{ manager.name }}
                                {{ manager.phone }}
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                <li class="list-group-item">
                    {{ event.artist }}
                </li>
                <li class="list-group-item">
                    {{ event.description }}
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}