<nav class="navbar navbar-expand-lg navbar-dark dark-bg">
    <a class="navbar-brand" href="#">{{ "touremanager".upper() }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if menu == 'main' %} active {% endif %}">
                <a class="nav-link" href="{{ url_for('main.index') }}">Главная <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if menu == 'tours' %} active {% endif %}"
                   href="{{ url_for('tours.get_tour')}}">Тур</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if menu == 'events' %} active {% endif %}"
                   href="{{ url_for('events.get_event')}}">Мероприятия</a>
            </li>
            {% if current_user.has_role('users') or current_user.has_role('admin') %}
            <li class="nav-item">
                <a class="nav-link {% if menu == 'artists' %} active {% endif %}"
                   href="{{ url_for('artists.get_artist')}}">Артист</a>
            </li>
            {% endif %}
            {% if current_user.has_role('users') or current_user.has_role('admin') %}
            <li class="nav-item">
                <a class="nav-link {% if menu == 'arenas' %} active {% endif %}"
                   href="{{ url_for('arenas.get_list_arena')}}">Арены</a>
            </li>
            {% endif %}
            {% if current_user.has_role('users') or current_user.has_role('admin') %}
            <li class="nav-item">
                <a class="nav-link {% if menu == 'citys' %} active {% endif %}" href="{{ url_for('citys.get_city')}}">Города</a>
            </li>
            {% endif %}
            {% if current_user.has_role('users') or current_user.has_role('admin') %}
            <li class="nav-item">
                <a class="nav-link {% if menu == 'managers' %} active {% endif %}"
                   href="{{ url_for('managers.get_list_manager')}}">Менеджеры</a>
            </li>
            {% endif %}
            {% if current_user.has_role('users') or current_user.has_role('admin') %}
            <li class="nav-item">
                <a class="nav-link {% if menu == 'calendars' %} active {% endif %}"
                   href="{{ url_for('main.calendar') }}">Календарь</a>
            </li>
            {% endif %}


        </ul>

        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--        </form>-->

    </div>
    {% if current_user.is_authenticated %}
    {% include "menu_profile.html" %}
    {% else %}
    <div class='my-2 my-lg-0'>
        <li class="nav-item my-2 mr-sm-2">
            <a class="btn btn-outline-primary {% if menu == 'None' %} active {% endif %}"
               href="{{ url_for('security.login')}}">Войти</a>
        </li>
    </div>
    {% endif %}


</nav>