{% from "macro/_macro_error_form.html" import render_field_with_errors, render_field %}
{% extends "base/base.html" %}
{% block title %}
<title>TM+ | Профиль</title>
{% endblock %}
{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">


                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Профиль: </h5>
                        <h5>
                            <i class="fa fa-envelope"></i> {{ user.email }}

                        </h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            {% if user.photo %}
                            <img alt="image" class="img-fluid"
                                 src="{{ url_for('photo_profile', filename=user.photo)}}">
                            {% else %}
                            <img alt="image" class="img-fluid"
                                 src="{{ url_for('photo_profile', filename='profile-default.jpeg')}}">
                            {% endif %}
                        </div>
                        <form action="" method="post" enctype=multipart/form-data>
                        <div class="ibox-content profile-content">
                            <h4><strong>
                                <p>{{form.last_name(class='form-control') }} </p>
                                <p>{{form.first_name(class='form-control') }}
                                </p>
                                <p>{{form.patronymic(class='form-control') }}</p></strong></h4>


                            <p><i class="fa fa-map-marker"></i> {{ form.address.label(class='control-label') }}{{
                                form.address(class='form-control') }}</p>

                            <h5>
                                <i class="fa fa-sign-in"></i>
                                {{ render_field_with_errors(form.login, class='form-control') }}
                                {% for error in form.login.errors %}
                                {{ error }}
                                {% endfor %}
                            </h5>


                            <h5>
                                <i class="fa fa-phone"></i> {{ form.phone.label(class='control-label') }}{{
                                form.phone(class='form-control') }}
                            </h5>

                            <h5>
                                <!--                            About me-->
                            </h5>
                            <p>
                                <!--                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                <!--                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                                <!--                            exercitat.-->
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-md-4">
                                    <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                    <h5><strong>{{ sum_event }}</strong> Концерты </h5>
                                </div>
                                <!--                            <div class="col-md-4">-->
                                <!--                                <span class="line">5,3,9,6,5,9,7,3,5,2</span>-->
                                <!--                                <h5><strong>28</strong> Following</h5>-->
                                <!--                            </div>-->
                                {% if 'manager' in user.roles %}
                                <div class="col-md-4">
                                    <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                    <h5><strong>{{ admin_event }}</strong> Администартор </h5>
                                </div>
                                {% endif %}
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i-->
                                        <!--                                                class="fa fa-envelope"></i> Сохранить-->
                                        <!--                                        </button>-->
                                        {{ form.submit(class="btn btn-primary btn-sm btn-block") }}
                                    </div>
                                    <!--                                    <div class="col-md-6">-->
                                    <!--                                        <button type="button" class="btn btn-default btn-sm btn-block"><i-->
                                    <!--                                                class="fa fa-coffee"></i> Buy a coffee-->
                                    <!--                                        </button>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
        <div class="col-md-8">
            <div class="row">
                <div class="{% if 'manager' in user.roles %}col-lg-6 {% else %} col-lg-12 {% endif %}">
                    <div class="ibox ">
                        <div class="ibox-title">

                            <h5>Концерты</h5>

                            <div class="ibox-tools">
                                Инструменты
                            </div>

                            <div class="ibox-content">
                                {% for event in all_events.items %}
                                <strong><a href="{{url_for('events.detail', id=event.id)}}">
                                    {% if event.artist.last_name %}{{ event.date_event }} {{ event.artist.first_name }}
                                    {{ event.artist.last_name }}
                                    {% else %}
                                    {{ event.date_event }} {{ event.artist.alias }}
                                    {% endif %}
                                </a></strong><br>
                                {% endfor %}
                            </div>
                            <div class="btn-group">

                                {% if all_events.has_prev %}

                                <a href="{{ url_for('main.profile', id=user.id, page=all_events.prev_num) }}">
                                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i>


                                    </button>
                                </a>
                                {% else %}
                                <a href="{{ url_for('profiles.profile', id=user.id, page=all_events.prev_num) }}">
                                    <button type="button" class="btn btn-white disabled"><i
                                            class="fa fa-chevron-left"></i></button>
                                </a>
                                {% endif %}
                                {% for page in all_events.iter_pages() %}
                                <a href="{{ url_for('profiles.profile', id=user.id, page=page)}}">
                                    <button class="btn btn-white {% if page==all_events.page%} active {% endif %}">
                                        {{page}}
                                    </button>
                                </a>
                                {% endfor %}
                                {% if all_events.has_next %}
                                <a href="{{ url_for('profiles.profile', id=user.id, page=all_events.next_num) }}">
                                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i>
                                    </button>
                                </a>
                                {% else %}
                                <a href="{{ url_for('main.profile', id=user.id, page=all_events.next_num) }}">
                                    <button type="button " class="btn btn-white disabled"><i
                                            class="fa fa-chevron-right"></i></button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if 'manager' in user.roles %}
                <div class="col-lg-6">
                    <div class="ibox ">
                        <div class="ibox-title">

                            <h5>Администратор мероприятий</h5>

                            <div class="ibox-tools">
                                Инструменты
                            </div>

                            <div class="ibox-content">
                                {% for event in events.items %}
                                <strong><a href="{{url_for('events.detail', id=event.id)}}">
                                    {% if event.artist.last_name %}{{ event.artist.first_name }} {{
                                    event.artist.first_name }} {{ event.date_event }}
                                    {% else %}
                                    {{ event.artist.alias }}
                                    {% endif %}
                                </a></strong><br>
                                {% endfor %}
                            </div>
                            <div class="btn-group">

                                {% if events.has_prev %}

                                <a href="{{ url_for('main.profile', id=user.id, page=events.prev_num) }}">
                                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-left"></i>


                                    </button>
                                </a>
                                {% else %}
                                <a href="{{ url_for('profiles.profile', id=user.id, page=events.prev_num) }}">
                                    <button type="button" class="btn btn-white disabled"><i
                                            class="fa fa-chevron-left"></i></button>
                                </a>
                                {% endif %}
                                {% for page in events.iter_pages() %}
                                <a href="{{ url_for('profiles.profile', id=user.id, page=page)}}">
                                    <button class="btn btn-white {% if page==events.page%} active {% endif %}">
                                        {{page}}
                                    </button>
                                </a>
                                {% endfor %}
                                <!--                                <button class="btn btn-white">1</button>-->
                                <!--                                <button class="btn btn-white  active">2</button>-->
                                <!--                                <button class="btn btn-white">3</button>-->
                                <!--                                <button class="btn btn-white">4</button>-->
                                {% if events.has_next %}
                                <a href="{{ url_for('profiles.profile', id=user.id, page=events.next_num) }}">
                                    <button type="button" class="btn btn-white"><i class="fa fa-chevron-right"></i>
                                    </button>
                                </a>
                                {% else %}
                                <a href="{{ url_for('main.profile', id=user.id, page=events.next_num) }}">
                                    <button type="button " class="btn btn-white disabled"><i
                                            class="fa fa-chevron-right"></i></button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>     
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
<!-- Peity -->
<script src="{{ url_for('inspina', filename='js/plugins/peity/jquery.peity.min.js')}}"></script>

<!-- Peity -->
<script src="{{ url_for('inspina', filename='js/demo/peity-demo.js')}}"></script>

{% endblock %}
