{% extends "base/base.html" %}
{% block title %}
<title>TM+ | Менеджеры</title>

{% endblock %}
{% block content %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox">
                    <div class="ibox-title">

                        <a href="{{ url_for('main.team') }}" class="btn btn-primary btn-xs">Все</a>


                        <a href="{{ url_for('main.team', m='managers') }}" class="btn btn-primary btn-xs">Менеджеры</a>


                        <a href="{{ url_for('main.team', m='admin') }}" class="btn btn-primary btn-xs">Администратор</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        {% if managers %}
        {% for manager in managers %}
        <div class="col-lg-4">
            <div class="contact-box" {% if current_user.id== manager.id %}
                 style="background-color: #1ab394; color: #fff;" {% endif %}>
                <a class="row" href="{{ url_for('main.profile', id=manager.id)}}">
                    <div class="col-4">
                        <div class="text-center">
                            {% if manager.photo %}
                            <img alt="image" class="  m-t-xs img-fluid"
                                 src="{{ url_for('photo_profile', filename=manager.photo) }}">
                            {% else %}
                            <img alt="image" class=" m-t-xs img-fluid"
                                 src="{{ url_for('photo_profile', filename='profile-default.jpeg') }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-8">
                        <h3><strong>{{ manager.last_name }} {{ manager.first_name }}</strong></h3>
                        <p><strong>{{ manager.lead_roles.title }}</strong></p>
                        <address>
                            <li class="fa fa-envelope"></li>
                            <strong>{{ manager.email }}</strong><br>
                            {% if manager.birthday %} <i class="fa fa-birthday-cake "></i> {{ manager.birthday
                            }} {%
                            endif %}<br>
                            {% if manager.phone %}<abbr title="Phone">P:</abbr> {{manager.phone}}{% endif %}
                        </address>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

