{% extends "base.html" %}


{% block content %}
<section id="team" class="team">

    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title" data-aos="zoom-out">
            <h2>Города</h2>
            <!--            <p>Менеджеры</p>-->
           <p><a href="{{ url_for('citys.add_city') }}" class="card-link">
                <button type="button" class="btn btn-sm btn-outline-secondary">Добавить</button>
            </a>
           </p>
        </div>

<!--        <a href="{{ url_for('citys.add_city') }}" class="card-link">-->
<!--            <button type="button" class="btn btn-sm btn-outline-secondary">Добавить город</button>-->
<!--        </a>-->
        <div class="row">

            {% for item in citys %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{{ url_for('citys.get_city_arena', id=item.id) }}">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                             focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ item.name }}</text>
                        </svg>
                    </a>
                    <div class="card-body">
                        <p class="card-text">Арена -
                            {% for d in item.arena %}
                            {{ d }}.

                            {% endfor %}
                        </p>
                        <!--                        <p class="card-text">Время редактирования - {{ item.edit_city }}.</p>-->


                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('citys.get_city_arena', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть
                                    </button>
                                </a>
                                <a href="{{ url_for('citys.edit_city', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                    </button>
                                </a>
                                <a href="{{ url_for('citys.delete_city', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Удалить
                                    </button>
                                </a>
                            </div>
                            <!--                            <small class="text-muted">9 mins</small>-->
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>

</section>

{% endblock %}