<!DOCTYPE html>
<html>

<head>
    {% block title %}
    {% endblock %}
    {% include "base/style.html" %}
    {% block head_style %}
    {% endblock %}
</head>

<body class="">
<div id="wrapper">
    {% include "base/nav.html" %}

    {% block menu %}
    {% endblock %}
    <div id="page-wrapper" class="gray-bg">
        {% include 'base/nav_top.html' %}
        <!--        {% if menu != "index" %}-->
        <!--        {% include 'base/bread.html' %}-->
        <!--        {% endif %}-->
        {% block content %}

        {% endblock %}
        {% include 'base/footer.html' %}
    </div>
    {% include 'base/dop_menu.html' %}
</div>

{% include "base/script.html" %}
{% block script %}

{% endblock %}
</body>
</html>