<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li class="nav-header">
                <div class="dropdown profile-element">
                    {% if current_user.photo %}
                    <img alt="image" class="rounded-circle my-style"
                         src="{{ url_for('photo_profile', filename=current_user.photo )}}"/>
                    {% else %}
                    <img alt="image" class="rounded-circle "
                         src="{{ url_for('photo_profile', filename='profile-default.jpeg') }}"
                         style="max-width: 48px;"/>
                    {% endif %}
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">{% if current_user.first_name %}{{ current_user.last_name }} {{ current_user.first_name }}{% else %}{{ current_user.login }} {% endif %}</span>
                        <span class="text-muted text-xs block">{{ current_user.lead_roles.title }} <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item"
                               href="{{ url_for('main.profile', id=current_user.id) }}">Профиль</a></li>
                        <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                        <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('security.logout')}}">Выйти</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    TM+
                </div>
            </li>
            {% if current_user.company|length > 1 %}
            <li class="special_link">
                <a href="{{url_for('main.index')}}"><i class="fa fa-building"></i> <span class="nav-label">{{ company_default.name}}</span>
                </a>
                <ul class="nav nav-second-level collapse">
                    {% for i in current_user.company %}
                    <li><a href="{{ url_for('main.default_company', id=i.id)}}">{{ i.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            <li {% if menu==
            'index' %} class='active' {% endif %}>
            <a href="{{url_for('main.index')}}"><i class="fa fa-home"></i> <span class="nav-label">Главная</span> </a>

            </li>
            <li {% if menu==
            'events' %} class='active' {% endif %}>
            <a href="{{url_for('events.index')}}"><i class="fa fa-calendar-o"></i> <span
                    class="nav-label">Мероприятия</span> </a>

            </li>
            <li {% if menu==
            "artists" %} class="active" {% endif %}>
            <a href="{{ url_for('artists.index') }}"><i class="fa fa-star"></i> <span class="nav-label">Артисты</span>
            </a>

            </li>
            <li {% if menu==
            "arenas" %} class="active" {% endif %}>
            <a href="{{ url_for('arenas.index') }}"><i class="fa fa-address-card"></i> <span
                    class="nav-label">Площадки</span> <span class="float-right label label-primary">SPECIAL</span> </a>

            </li>

            <li {% if url_for(
            'main.team') == request.path %} class="active" {% endif %}>
            <a href="{{ url_for('main.team') }}"><i class="fa fa-users"></i> <span
                    class="nav-label">Сотрудники</span></a>
            </li>
            {% if current_user.creator %}
            <li {% if url_for(
            'main.invite') == request.path %} class="active" {% endif %}>
            <a href="{{ url_for('main.invite') }}"><i class="fa fa-users"></i> <span
                    class="nav-label">Пригласить</span></a>
            </li>
            {% endif %}
            {% if 'super_admin' in current_user.roles %}
            <li class="special_link">
                <a href="{{ url_for('admin.index') }}"><i class="fa fa-database"></i> <span
                        class="nav-label">Админка</span></a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>