<!-- Mainly scripts -->
<script src="{{ url_for('inspina', filename='js/jquery-3.1.1.min.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/popper.min.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/bootstrap.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/plugins/metisMenu/jquery.metisMenu.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>


<!-- Custom and plugin javascript -->
<script src="{{ url_for('inspina', filename='js/inspinia.js')}}"></script>
<script src="{{ url_for('inspina', filename='js/plugins/pace/pace.min.js')}}"></script>

<script src="{{ url_for('inspina', filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

