{% extends "base.html" %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            <div class="form-group">
                <form action="" method="post" novalidate>
                    <p> {{ form.name.label(class='control-label') }}
                        {{ form.name(class ="form-control") }}</p>
                    <p> {{ form.event.label }}
                        {{ form.event(class ="form-control") }}</p>

                    <p>{{ form.submit(class="btn btn-primary mb-2") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>

            {% endblock %}