{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">

    <div class="container">
        <!--        <div class="row">-->

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="form-group">
                        <form action="" method="post" novalidate>
                            <p> {{ form.name.label(class='control-label') }}
                                {{ form.name(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.administrator.label }}
                                {{ form.administrator(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.phone_administrator.label }}
                                {{ form.phone_administrator(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.sound_engineer.label }}
                                {{ form.sound_engineer(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.phone_sound.label }}
                                {{ form.phone_sound(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.monitor_engineer.label }}
                                {{ form.monitor_engineer(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.phone_monitor.label }}
                                {{ form.phone_monitor(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.light.label }}
                                {{ form.light(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.phone_light.label }}
                                {{ form.phone_light(class ="form-control") }}
                            </p>
                            <p>
                                {{ form.submit(class="btn btn-primary mb-2") }}
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">


                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"

                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                         focusable="false"
                         role="img" aria-label="Placeholder: Thumbnail">

                        <title>{{ item.name }}</title>


                        <rect width="100%" height="100%" fill="#55595c"/>
                        {% if item.photoartist %}
                        <image xlink:href="{{ url_for('static', filename=item.photoartist[0]) }}" x="0" y="0"
                               width="100%" height="100%"/>
                        {% endif %}

                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ item.name }}</text>
                    </svg>

                    <div class="card-body">
                        <p class="card-text">Артист - {{ item.name }}
                            {% if item.administrator %}
                        <p class="card-text">Администратор - {{ item.administrator }}.</p>
                        {% endif %}
                        </p>
                        {% if item.phone_administrator %}
                        <p class="card-text">Тел. - {{ item.phone_administrator }}</p>
                        {% endif %}
                        {% if item.sound_engineer %}
                        <p class="card-text">Звукорежиссер - {{ item.sound_engineer }}</p>
                        {% endif %}

                        {% if item.phone_sound %}
                        <p class="card-text">Тел. Звукорежиссера - {{ item.phone_sound }}</p>
                        {% endif %}

                        {% if item.monitor_engineer %}
                        <p class="card-text">Мон. Звукорежиссер - {{ item.monitor_engineer }}</p>
                        {% endif %}

                        {% if item.phone_monitor %}
                        <p class="card-text">Тел. Мон. Звукорежиссера - {{ item.phone_monitor }}</p>
                        {% endif %}

                        {% if item.light %}
                        <p class="card-text">Световик - {{ item.light }}</p>
                        {% endif %}
                        {% if item.phone_light %}
                        <p class="card-text">Тел. Световика - {{ item.phone_light }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}