{% from "_macros_form.html" import render_field_with_errors, render_field %}
{% include "_messages_form.html" %}
<form action="" method="post" enctype=multipart/form-data>
    <div class="row g-3" aos-init aos-animate
    ">
    <div class="col" data-aos="fade-right">
        {{ render_field_with_errors(form.last_name, class="form-control") }}
    </div>
    <div class="col" data-aos="fade-left">
        {{ form.first_name.label }}
        {{ form.first_name(class ="form-control") }}
    </div>
    </div>
    <div class="row g-3" aos-init aos-animate
    ">
    <div class="col" data-aos="fade-right">
        {{ form.administrator.label }}
        {{ form.administrator(class ="form-control") }}
    </div>
    <div class="col" data-aos="fade-left">
        {{ form.phone_administrator.label }}
        {{ form.phone_administrator(class ="form-control") }}
    </div>
    </div>
    <div class="row g-3" aos-init aos-animate
    ">
    <div class="col" data-aos="fade-right">
        <p>
            {{ form.sound_engineer.label }}
            {{ form.sound_engineer(class ="form-control") }}
        </p>
    </div>
    <div class="col" data-aos="fade-left">
        <p>
            {{ form.phone_sound.label }}
            {{ form.phone_sound(class ="form-control") }}
        </p>
    </div>
    </div>
    <div class="row g-3">
        <div class="col" data-aos="fade-right">
            <p>
                {{ form.monitor_engineer.label }}
                {{ form.monitor_engineer(class ="form-control") }}
            </p>
        </div>
        <div class="col" data-aos="fade-left">
            <p>
                {{ form.phone_monitor.label }}
                {{ form.phone_monitor(class ="form-control") }}
            </p>
        </div>
    </div>
    <div class="row g-3">
        <div class="col" data-aos="fade-right">
            <p>
                {{ form.light.label }}
                {{ form.light(class ="form-control") }}
            </p>
        </div>
        <div class="col" data-aos="fade-left">
            <p>
                {{ form.phone_light.label }}
                {{ form.phone_light(class ="form-control") }}
            </p>
        </div>
    </div>
    <p data-aos="fade-left">
        {{ form.img.label }}
        {{ form.img(class ="form-control") }}
    </p>
    <p data-aos="fade-up">
        {{ form.submit(class="btn btn-primary mb-2") }}
    </p>
</form>