{% extends "base.html" %}


{% block content %}

<section id="team" class="team">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title" data-aos="zoom-out">
            <h2>Артисты</h2>
            <!--            <p>Менеджеры</p>-->
            <p><a href="{{ url_for('artists.add_artist') }}" class="card-link">
                <button type="button" class="btn btn-sm btn-outline-secondary">Добавить Артиста</button>
            </a></p>
        </div>


        <div class="row aos-init aos-animate">

            {% for item in artist %}

            <div class="col-md-4">
                <div class="member" data-aos="fade-up">
                    <div class="member-img" style="height: 100%;">
                        {% if item.photoartist %}
                        <img src="{{url_for('static', filename=item.photoartist[0]) }}" class="img-fluid"
                             alt="{{ item.name }}">
                        <!--                        <img src="{{url_for('static', filename='managers/vesti_1.jpg') }}" class="img-fluid"-->

                        {% else %}

                        <img src="{{url_for('static', filename='img/hall.jpg') }}" class="img-fluid"
                             alt="">
                        {% endif %}
                        <div class="social">
                            <!--                            <a href=""><i class="icofont-twitter"></i></a>-->
                            {% if current_user.has_role('admin') %}
                            <a href="{{ url_for('artists.edit_artist', id=item.id) }}"><i
                                    class="icofont-edit"></i></a>
                            {% endif %}
                            {% if item %}
                            <a href="{{ url_for('artists.get_item_artist', id=item.id) }}"><i
                                    class="icofont-eye-open"></i></a>
                            {% endif %}

                            <!--                            <a href=""><i class="icofont-linkedin"></i></a>-->
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{ item.name }}</h4>
                        <h5>{{ item.administrator }} - {{ item.phone_administrator }}</h5>
                        <h5>{{ item.sound_engineer }} - {{ item.phone_sound }}</h5>
                        {% if item.monitor_engineer  %}
                        <h5>{{ item.monitor_engineer }} - {{ item.monitor_engineer }}</h5>
                        {% endif %}
                        {% if item.light  %}
                        <h5>{{ item.light }} {% if item.phone_light %} - {{ item.phone_light }}{% endif %}</h5>
                        {% endif %}
                    </div>
                    <!--                    <small class="text-muted">9 mins</small>-->
                </div>
            </div>

            {% endfor %}


        </div>
    </div>

</section>
{% endblock %}
