{% extends "base.html" %}


{% block content %}

<section id="team" class="team">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title" data-aos="zoom-out">
            <h2>Артисты</h2>
            <!--            <p>Менеджеры</p>-->
            <p><a href="{{ url_for('artists.add_artist') }}" class="card-link">
                <button type="button" class="btn btn-sm btn-outline-secondary">Добавить Артиста</button>
            </a></p>
        </div>


        <div class="row aos-init aos-animate">

            {% for item in artist %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up">

                    <a href="{{ url_for('artists.get_item_artist', id=item.id) }}">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"

                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">

                            <title>{{ item.name }}</title>


                            <rect width="100%" height="100%" fill="#55595c"/>
                            {% if item.photoartist %}
                            <image xlink:href="{{ url_for('static', filename=item.photoartist[0]) }}" x="0" y="0"
                                   width="100%" height="100%"/>
                            {% endif %}

                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ item.name }}</text>
                        </svg>
                    </a>
                    <div class="card-body">
                        <p class="card-text">Администратор - {{ item.administrator }}
                            {% if item.administrator %}
                        <p class="card-text">Администратор - {{ item.administrator }}.</p>
                        {% endif %}
                        </p>

                        {% if item.sound_engineer %}
                        <p class="card-text">Звукорежиссер - {{ item.sound_engineer }}.</p>
                        {% endif %}
                        </p>
                        {% if item.monitor_engineer %}
                        <p class="card-text">Мониторный звукорежиссер - {{ item.monitor_engineer }}.</p>

                        {% endif %}

                        {% if item.light %}
                        </p>
                        <p class="card-text">Световик - {{ item.light }}.</p>
                        {% endif %}
                        <!--                        <p class="card-text">Описание - {{ item.description }}-->
                        <!--                        </p>-->

                        {% if item.phone_admin %}
                        <p class="card-text">Тел. Администратора - {{ item.phone_admin }}
                        </p>
                        {% endif %}
                        <!--                        <p class="card-text">Время редактирования - {{ item.edit_city }}.</p>-->


                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('artists.get_item_artist', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button>
                                </a>
                                <a href="{{ url_for('artists.edit_artist', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать
                                    </button>
                                </a>
                                <a href="{{ url_for('artists.delete_artist', id=item.id) }}" class="card-link">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Удалить
                                    </button>
                                </a>
                            </div>
                            <!--                            <small class="text-muted">9 mins</small>-->
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>

</section>
{% endblock %}
