<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Actionable emails e.g. reset password</title>
    <link href="{{ url_for('inspina', filename='styles.css')}}" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap">
                            <table  cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <img class="img-fluid" src="{{ url_for('inspina', filename='img/header.jpg')}}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <h3>Добро пожаловать, 
                                        {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.login }}{% endif %}!</h3>
                                    
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Кем бы ты ни был, откуда бы ты ни был и чем бы ты не занимался ранее, ты попал в правильное место. Ты находишься на стартовой позиции, как и другие соискатели TM+, поэтому все в твоих руках.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Вы зарегистрировались.Пожалуйста, подтвердите ваш email {{ user.email }}. 
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block aligncenter">
                                        <a href="{{ request.host_url + url_for('security.confirmation', email=user.email, id=id) }}" class="btn-primary">Подтвердить</a>
                                    </td>
                                </tr>
                              </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">Follow <a href="#">@Company</a> on Twitter.</td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
