{% extends "base.html" %}

{% block content %}
<main role="main">


    <section id="team" class="team">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title" data-aos="zoom-out">
            <h2>Календарь</h2>

            <!--            <p>Площадки</p>-->
        </div>
        <div class="row justify-content-evenly aos-init aos-animate">


                <div id='calendar' data-aos="fade-up"></div>
<!--<div id="eventCalendar" style="width: 300px; margin: 50px auto;"></div>-->


        </div>
    </div>
</section>

<script>

  document.addEventListener('DOMContentLoaded', function() {

    var initialLocaleCode = 'ru';
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
      },
      height: 'auto',
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      selectable: true,
      selectMirror: true,
      nowIndicator: true,

      eventSources: [

    // your event source
    {
      url: '/get_calendar',
      method: 'POST',
      extraParams: {
        custom_param1: 'something',
        custom_param2: 'somethingelse'
      },
      failure: function() {
        alert('there was an error while fetching events!');
      },
    }

    // any other sources...

  ]
    });

    calendar.setOption('locale', 'ru');
    calendar.render();
  });

</script>
</main>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.eventCalendar.js') }}"></script>


<script>
          function load_events(){
            $.ajax({
                type: "POST",
                url: "/events/event_month",
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    obj = Object.keys(json)

                    $('#eventCalendar').eventCalendar({
                           jsonData: json,
                           jsonDateFormat: 'human',
                    });
                },
            error: function(error) {
                console.log(error);
            }
        });
        }


            $(document).ready(function() {
            load_events();

        });

</script>

<script src="http://code.jquery.com/jquery.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

{% endblock %}